# Trabalhando com Tuplas

In [1]:
# Tuplas usam parênteses como sintaxe
tupla1 = ()

In [2]:
tupla1

()

In [4]:
tupla1 = ('Ferrari','Onça',17.900,500000)

In [5]:
tupla1

('Ferrari', 'Onça', 17.9, 500000)

In [6]:
# Python 3 aceita criação de uma tupla sem usar a virgula
tupla = (10)

In [7]:
# Imprimindo elementos da tupla a partir das posições
tupla1[0], tupla1[2], tupla1[3]

('Ferrari', 17.9, 500000)

In [8]:
#Tuplas são imutáveis !! (importante)
tupla1[0] = 'Porshe'

TypeError: 'tuple' object does not support item assignment

In [10]:
# Criaçao de tuplas aninhadas
tupla_aninhada = (1,2,3, (23,43,78))

In [11]:
tupla_aninhada[3]

(23, 43, 78)

In [12]:
# Acessando o primeiro valor da lista aninhada
tupla_aninhada[3][1]

43

# Operações Básicas

In [13]:
# Operação de Repetição e criação de nova tupla
tupla2 = tupla1 * 3

In [14]:
tupla2

('Ferrari',
 'Onça',
 17.9,
 500000,
 'Ferrari',
 'Onça',
 17.9,
 500000,
 'Ferrari',
 'Onça',
 17.9,
 500000)

In [15]:
# Concatena Tuplas
tupla_concatenada = (1, 2, 3) + (4, 5, 6)

In [16]:
# Checa se o elemtno pertence a tupla
'Onça' in tupla1

True

# Slicing

In [17]:
# Percorre a tupla do elemento na posição 2 em diante.
tupla1[2:]

(17.9, 500000)

In [18]:
# Percorre a tupla do elemtento na posição 1 até o elemento na posição 3
tupla1[1:3]

('Onça', 17.9)

# Métodos Disponíveis

In [19]:
# Conta a frequência de um elemento
tupla1.count('elefante')

0

In [20]:
# Retorna a posição do elemento.
tupla1.index(17.9)

2

In [21]:
# Retorna o tamanho da tupla
len(tupla1)

4

In [22]:
# Retorna o maior valor da tupla
tupla2 = (2,3,4,128787,90.0)
max(tupla2)

128787

In [23]:
# Retorna o menor valor da tupla
min(tupla2)

2

In [25]:
# Criando uma lista
lista = [1,3,4,3,89.9,765,'Minerando Dados','DataScience']

In [27]:
# Converte uma lista em tupla
tupla3 = tuple(lista)

In [28]:
type(tupla3)

tuple

In [29]:
tupla3

(1, 3, 4, 3, 89.9, 765, 'Minerando Dados', 'DataScience')